/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}

button,
summary {
	cursor: pointer;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-accent: #ffec84;
	--color-selection: #98d4dc;
	--color-main: #203464;
	--color-main2: white;
	--link-text: "Gilroy regular", sans-serif;
	--kop-text: "Gilroy", sans-serif;
}


/*********************/
/* Algemene styling  */
/*********************/

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-ExtraBold.woff2") format("woff2")
}

@font-face {
	font-family: "Gilroy semibold";
	src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2")
}

@font-face {
	font-family: "Gilroy light";
	src: url("../fonts/Gilroy-Light.woff2") format("woff2")
}

@font-face {
	font-family: "Gilroy regluar";
	src: url("../fonts/Gilroy-Regular.woff2") format("woff2")
}

@font-face {
	font-family: "Gilroy medium";
	src: url("../fonts/Gilroy-Medium.woff2") format("woff2")
}

body {
	color: var(--color-main);
	background-color: var(--color-main2);
	font-family: "Gilroy semibold", sans-serif;
	overflow-x: hidden;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
}

h2 {
	color: var(--color-main);
	font-family: var(--kop-text);
	font-size: 1.8rem;
	line-height: 1em;
}

h3 {
	font-size: 1.2rem;
	font-family: var(--kop-text);
}

p,
h2,
h3 {
	margin-left: 1em;
	margin-right: 1em;
}

@media (min-width: 650px) {

	p {
		transform: scale(.9);
		margin-left: -.5em;
	}

}

figcaption {
	text-transform: uppercase;
	padding: .3em;
	font-size: .9rem;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}



/*********************/
/*  Header styling   */
/*********************/

header {
	display: flex;
	justify-content: center;
	position: sticky;
	top: 0;
	z-index: 10;

	border-bottom: .01em solid white;
	min-height: 50px;
}

img[alt="dopper logo"] {
	width: 132px;
	max-height: 29px;
	margin-left: 1em;
	margin-top: 1em;
}

img[alt="dopper logo"],
header + a {
	position: absolute;
	top: 0;
	left: 0;
}

@media (min-width: 650px) {

	img[alt="dopper logo"],
	header + a {
		transform: scale(.9);
	}
}

header nav {
	background-color: var(--color-main);

	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;

	transform: translateX(100%);

}

a[href="#content"] {
	position: absolute;
	transform: translateY(-100%);
	color: white;
}

a[href="#content"]:focus {
	transform: translateY(0%);
}

header nav ul {
	margin-top: 4em;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1em;
}

header nav ul li:last-of-type a {
	width: 25px;
	height: 25px;
	position: absolute;
}

header nav ul li:last-child {
	width: 25px;
	height: 25px;
	position: fixed;
	right: 60px;
	top: 10px;
}

header nav ul li img:hover {
	transform: scale(1.2);
}

header nav ul li:last-of-type a:focus {
	transform: scale(1.2);
	border: none;
	border-bottom: 4px solid var(--color-accent);
	padding-bottom: 2em;
}

nav.toonMenu {
	transform: translateX(0);
}

header nav li a {
	text-decoration: none;
	color: var(--color-main2);
	font-size: 1.7rem;
	font-family: var(--kop-text);
	text-align: left;
}

header nav li a:hover {
	color: var(--color-accent);
}

header a:focus {
	border: 4px solid var(--color-accent);
	outline: none;
}

header nav li a:active {
	color: var(--color-accent);
	border: none;
}

.huidigepagina {
	color: var(--color-accent);
}

@media (min-width: 650px) {
	header button {
		display: none;
	}

	header {
		gap: 3em;
	}

	header nav {
		position: static;
		transform: none;
		padding: 0;
		background: none;
	}

	header nav ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-top: 0;
	}

	header nav li a {
		opacity: 80%;
		font-size: 1rem;
	}

	header nav ul li:last-child {
		right: 48px;
	}

	header img[alt="winkelmandje"] {
		display: none;
	}
}

@media (min-width: 700px) {
	header nav ul {
		gap: 2em
	}
}


header img[alt="winkelmandje"] {
	width: 25px;
	height: 25px;
	position: fixed;
	top: 12px;
	right: 55px;
}

header a span {
	position: fixed;
	right: 9em;
	top: 2em;
	padding: .5em;
	background-color: var(--color-main);
	border-radius: 50%;
	font-size: .375em;
	text-align: center;
	background-color: white;
	color: var(--color-main);
}

@media (min-width: 650px) {

	header a span {
		right: 7em;
		top: 2em;
	}
}

.cart-animatie {
	animation: feedback 1.5s ease-in-out;
}

@keyframes feedback {
	0% {
		padding: .5em;
	}

	50% {
		padding: 1.5em;
	}

	100% {
		padding: .5em;
	}
}

.background-header {
	background-color: var(--color-main);
	border-bottom: none;
}



/****************************/
/* Animatie hamburgerbutton */
/****************************/

header button {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 10;
	border: none;
	background-color: transparent;
}

.line {
	z-index: 10;
	background-color: #fff;
	display: block;
	margin: 5px 0;
	height: 3px;
	width: 30px;
	border-radius: 10px;
	transition: all 0.1s ease-in;
}

header button.open .line:nth-child(1) {
	transform: translateY(7px) rotate(45deg);
}

header button.open .line:nth-child(2) {
	opacity: 0;
}

header button.open .line:nth-child(3) {
	transform: translateY(-9px) rotate(-45deg);
}


/**********************/
/*    Main styling    */
/**********************/

main {
	margin-top: 2em;
}

.smaller {
	max-width: 50em;
	margin-inline: auto;
}

.home main a {
	background-color: var(--color-accent);
	padding: 1.5em;
	border-radius: 100px;
	text-transform: uppercase;
	text-align: center;
	font-size: .75rem;
	text-decoration: none;
	color: var(--color-main);
	font-family: var(--link-text);
	font-weight: 600;
	margin: 1em;
	transition: .3s;
}

.home main a:hover {
	font-size: .8rem;
	box-shadow: 3px 6px 0 #333;
	background-color: var(--color-selection);
	border: 8px solid var(--color-accent);
}

.home main a:active {
	font-size: .8rem;
	transform: translateY(4px);
	box-shadow: none;
}

.home main a:focus {
	background-color: var(--color-selection);
	border: 8px solid var(--color-accent);
	outline: none;
}


/*********************/
/*    1e article     */
/*********************/

.home main article:first-child {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url("../images/header-dopper.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0;
	min-height: 400px;
	left: 0;
	right: 0;
}

.home main article:first-child h2 {
	color: var(--color-main2);
	font-family: var(--kop-text);
	font-size: 1.8rem;
	text-align: center;
	line-height: 1.1em;
	position: relative;
	top: 30px;
	max-width: 20em;
}

@media (min-width: 650px) {
	.home main article:first-child h2 {
		font-size: 2rem;
	}
}

@media (min-width: 800px) {
	.home main article:first-child h2 {
		font-size: 2.5rem;
	}
}

.home main article:first-child a {
	position: relative;
	background-color: var(--color-accent);
	padding: 1.5em;
	border-radius: 100px;
	text-transform: uppercase;
	text-align: center;
	font-size: .75rem;
	text-decoration: none;
	color: var(--color-main);
	font-family: var(--link-text);
	font-weight: 600;
	margin: 1em;
	top: 30px;
}

@media (min-width: 650px) {
	.home main article:first-child {
		min-height: 750px;
	}
}


/*********************/
/*  Section feitjes  */
/*********************/

.home main section:first-of-type {
	min-height: 600px;
	margin-top: 23em;
	display: flex;
	flex-direction: column;
	gap: 2.5em;
	align-items: center;
}

.smaller {
	max-width: 60em;
	margin-inline: auto;
}

@media (min-width: 650px) {

	.home main section:first-of-type {
		margin-top: 45em;
		min-height: 300px;
	}
}

.home main section:first-of-type h2 {
	font-size: 2rem;
	text-decoration: underline dotted var(--color-accent) 8px;
	text-underline-offset: .3em;
	color: var(--color-main);
	margin-bottom: 1.5em;
	margin-left: 0.5em;
}

.home main ul:first-of-type h3 {
	color: var(--color-main);
	font-family: var(--kop-text);
	font-size: 1.2rem;
	line-height: 1.5em;
	margin-right: 0;
	max-height: 77px;
	max-width: 110px;
}

.home main section:first-of-type h3::first-line {
	font-size: 3rem;
}

.home main section:first-of-type ul {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
	gap: 3em;
	margin-bottom: 2em;
}

.home main section:first-of-type ul li {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

.home main section:first-of-type li img {
	width: 75px;
	height: 75px;
}

.home main section:first-of-type li:nth-of-type(1) img {
	width: 60px;
	height: 60px;
}


/*******************************/
/*   Dopperformaten article    */
/*******************************/

.home main article:nth-of-type(2) {
	background-color: var(--color-main);
	min-height: 650px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

.home main article:nth-of-type(2) img {
	grid-column-start: span 2;
	width: 300px;
	height: 277px;
	margin-top: 2.5em;
	margin-left: 1em;
}

.home main article:nth-of-type(2) a {
	max-width: 100px;
	margin-top: 1em;
}

.home main article:nth-of-type(2) p {
	margin-bottom: 1em;
	color: var(--color-main2);
	grid-column-start: span 2;
	max-width: 450px;
}

.home main article:nth-of-type(2) p:nth-of-type(2) {
	margin-bottom: 1em;
	grid-column-start: span 2;
}

.home main article:nth-of-type(2) h2 {
	font-size: 1.8rem;
	font-family: var(--kop-text);
	line-height: 1em;
	margin-bottom: 1em;
	margin-top: 1em;
	margin-left: .5em;
	color: var(--color-main2);
	grid-column-start: span 2;
}

.accent-tekst {
	color: var(--color-accent);
}

@media (min-width: 650px) {
	.home main article:nth-of-type(2) {
		grid-template-columns: 1fr 2fr 2fr 1fr;
		justify-items: start;
		align-items: start;
		min-height: 450px;
	}

	.home main article:nth-of-type(2) img {
		grid-column-start: 3;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row: span 3;
		width: 250px;
	}

	.home main article:nth-of-type(2) h2 {
		grid-row: 1;
		grid-column-start: 2;
		margin-bottom: 1em;
		min-width: 300px;
		margin-bottom: 0;
		margin-left: .7em;
	}

	.home main article:nth-of-type(2) p {
		grid-column-start: 2;
		grid-column-end: 2;
		grid-row: 2;
		margin: 0;
		padding: 0;
		min-width: 250px;
	}

	.home main article:nth-of-type(2) p:nth-of-type(2) {
		grid-column-start: 2;
		grid-column-end: 2;
		grid-row: 3;
	}

	.home main article:nth-of-type(2) a {
		grid-column-start: 2;
		grid-column-end: 2;
		grid-row: 4;
	}
}

@media (min-width: 770px) {

	.home main article:nth-of-type(2) img {
		width: 300px;
	}
}



/*********************/
/*   Onze producten  */
/*********************/

.home main section:nth-of-type(2) {
	padding-left: 0;
	padding-right: 0;
}

.home main section:nth-of-type(2) li {
	background-color: var(--color-main);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	min-height: 400px;
}

.home main section:nth-of-type(2) li:first-of-type {
	margin-right: 25px;
	margin-bottom: -60px;
}


.home main section:nth-of-type(2) li:nth-of-type(2) {
	margin-left: 2em;
	margin-top: 3em;
}

.home main section:nth-of-type(2) li img {
	margin-top: 0px;
	height: 255px;
	max-width: 350px;
}

.home main section:nth-of-type(2) h2 {
	margin: .5em;
}

.home main section:nth-of-type(2) h3 {
	color: var(--color-main2);
	margin-top: .5em;
	margin-bottom: .5em;
	min-width: 250px;
}

.home main section:nth-of-type(2) a {
	margin: 26px;
	margin-top: 0em;
}

@media (min-width: 650px) {
	.home main section:nth-of-type(2) ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-bottom: 5em;
	}

	.home main section:nth-of-type(2) h2 {
		text-align: center;
		font-size: 2rem;
	}
}


/************************/
/*  Dopper laserstralen */
/************************/

.home main article:nth-of-type(3) {
	background-color: var(--color-main);
	min-height: 300px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 60px 1fr;
	row-gap: 2.5em;
}

.home main article:nth-of-type(3) p, .home main article:nth-of-type(3) h2 {
	color: var(--color-main2);
}

.home main article:nth-of-type(3) p {
	grid-column-start: 1;
	grid-row-start: 2;
	max-width: 380px;
}

.home main article:nth-of-type(3) h2 {
	margin-left: .5em;
	margin-top: 1em;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
}

.home main article:nth-of-type(3) img {
	width: 120px;
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 2;
}

.home main article:nth-of-type(3) div {
	position: relative;
	width: 120px;
    grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 2;
}

/*laserogen*/
.home main article:nth-of-type(3) div span:first-of-type, .home main article:nth-of-type(3) div span:nth-of-type(2)  {
	background-color: black;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	position: absolute;
}

.home main article:nth-of-type(3) div span:first-of-type {
	top: 60px;
	right: 50px;
}

.home main article:nth-of-type(3) div span:nth-of-type(2) {
	top: 60px;
	right: 30px;
}

.home main article:nth-of-type(3) img.charge {
	animation: schudden .1s cubic-bezier(.58,.23,.92,.23);
	animation-iteration-count: 7;
}

@keyframes schudden {
    0% { 
		transform: translateX(0em); 
	}

	50% { 
		transform: translateX(0.3em); 
	}

	75% { 
		transform: translateX(0em); 
	}

	100% { 
		transform: translateX(0.5em); 
	}

}

.home main article:nth-of-type(3) div span.laserogen {
	animation: vuur 1.2s ease-in;
}

@keyframes vuur {
	0% {
		background-color: black;
	}

	50% {
		background-color: red;
	}
	
	100% {
		background-color: red;
	}
}

/*laserstralen*/
.home main article:nth-of-type(3) div span:nth-of-type(3), .home main article:nth-of-type(3) div span:nth-of-type(4) {
	width: .1px;
	height: 3px;
	position: absolute;
	top: 65px;
	left: 83px;
	z-index: 10;
	rotate: 20deg;
}

.home main article:nth-of-type(3) div span:nth-of-type(4) {
	left: 63px;
}


.home main article:nth-of-type(3) div span.laserstralen {
	animation: schieten .7s ease-in;
	animation-delay: .7s;
	transform-origin: 0% 50%;
}

@keyframes schieten {
	0% {
		transform: scaleX(1);
		background-color: red;
	}

	50% { 
		transform: scaleX(1500);
		background-color: red;
	}

	99% { 
		background-color: red;
	}

	100% {
		transform: scaleX(1);
		background-color: black;
	}
}


@media (min-width: 650px) {
	.home main article:nth-of-type(3) {
		grid-template-columns: 2fr 2fr 2fr 1fr;
		row-gap: 1em;
	}

	.home main article:nth-of-type(3) h2 {
			margin-left: .4em;
			min-width: 400px;
			font-size: 2rem;
	}

	.home main article:nth-of-type(3) h2, .home main article:nth-of-type(3) p {
		grid-column-start: 2;
	}

	.home main article:nth-of-type(3) img, .home main article:nth-of-type(3) div {
		grid-column-start: 3;
	}
}



/************************/
/*   Artikelen Dopper   */
/************************/

.home main section:nth-of-type(3) {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--color-main2);
}

.home main section:nth-of-type(3) ul {
	margin-top: 1em;
}

.home main section:nth-of-type(3) li {
	position: relative;
}

.home main section:nth-of-type(3) li a::before {
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: .3s;
	max-width: 280px;
}

.home main section:nth-of-type(3) li a:hover {
	box-shadow: none;
	border: none;
}

.home main section:nth-of-type(3) li a:focus::before {
	background-color: transparent;
	border: 5px solid var(--color-accent);
}

.home main section:nth-of-type(3) li a:hover::before {
	box-shadow: none;
	background-color: transparent;
	border: 5px solid var(--color-accent);
}

.home main section:nth-of-type(3) h2 {
	margin-bottom: .5em;
	margin-top: .5em;
}

.home main section:nth-of-type(3) li {
	background-color: var(--color-main2);
	min-height: 400px;
}

.home main section:nth-of-type(3) h3 {
	text-transform: none;
	min-width: 280px;
	margin-left: 0;
}

.home main section:nth-of-type(3) p {
	text-align: center;
}

.home main section:nth-of-type(3) li a,
section:nth-of-type(3) li a {
	text-align: left;
	max-height: 320px;
	background-color: transparent;
	padding: 0;
}

.home main section:nth-of-type(3) figure img {
	height: 250px;
	width: 280px;
}

@media (min-width: 650px) {

	.home main section:nth-of-type(3) ul {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 3em;
		margin-bottom: 2em;
	}

	.home main section:nth-of-type(3) h2 {
		font-size: 2rem;
	}

	.home main section:nth-of-type(3) img,
	main section:nth-of-type(3) h3,
	main section:nth-of-type(3) a::before {
		min-width: 300px;
	}
}


/*********************/
/*   Video Dopper   */
/********************/

video {
	max-width: 100%;
	margin-bottom: 1em;
	margin-top: 1em;
	min-height: 400px;
	object-fit: cover;
}

.home main article:last-of-type {
	position: relative;
}

.home main article:last-of-type h2 {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translateX(-60%);
	color: white;
	min-width: 300px;
}

video+img {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

video+img:hover {
	width: 110px;
	height: 110px;
}



/***************/
/*   Footer   */
/**************/

footer {
	margin-top: 3em;
	min-height: 650px;
	margin-bottom: 5em;
}

@media (min-width: 650px) {

	footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.nieuwsbrief-socials {
		display: flex;
		gap: 1em;
		align-items: center;
		justify-content: center;
	}
}

footer article a:focus {
	background-color: var(--color-selection);
	outline: none;
}


/******************/
/*   Nieuwsbrief  */
/******************/

footer article:first-of-type {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-top: 2em;
}

@media (min-width: 570px) {
	footer article:first-of-type {
		max-width: 400px;
	}

	footer article:first-of-type h2 {
		font-size: 2rem;
	}
}

.screenreader-only {
	position: absolute;
	left: -1000px;
}

form {
	display: flex;
	flex-wrap: wrap;
}

input {
	margin-left: 24px;
	margin-right: 24px;
	width: 260px;
	padding-bottom: .5em;
	border: none;
	border-bottom: 2px solid var(--color-main);
	font-size: 1.2rem;
	font-family: "Gilroy", "sans-serif";
}

input::placeholder {
	color: var(--color-main);
	opacity: 60%;
}

input:hover {
	background-color: var(--color-selection);
}

input:focus {
	border: 4px solid var(--color-accent);
	outline: none;
}


label {
	margin-left: 24px;
	margin-bottom: 1.75em;
	margin-top: 1em;
}

footer button {
	border: none;
	background-color: var(--color-accent);
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

footer button:hover {
	background-color: var(--color-selection);
}

footer button:focus {
	background-color: var(--color-selection);
	outline: none;
}



/****************/
/* Social media */
/****************/

footer article {
	display: flex;
	gap: 2em;
	justify-content: center;
	margin-bottom: 5em;
	margin-top: 5em;
}

footer a {
	background-color: var(--color-accent);
	border-radius: 50%;
	width: 45px;
	height: 45px;
}

footer a:hover {
	background-color: var(--color-selection);
}

footer a:focus {
	background-color: var(--color-selection);
}

@media (min-width: 570px) {

	footer article:nth-of-type(2) img,
	footer article:nth-of-type(2) a {
		width: 40px;
		height: 40px;
	}
}



/***************/
/* Info dopper */
/***************/

footer section ul {
	margin-bottom: 1em;
	z-index: 0;
	position: absolute;
	top: 0;
	transform: translateY(-40%);
	opacity: 0;
	margin-left: 1.7em;
}

footer section h3 {
	position: relative;
	z-index: 1;
	background-color: var(--color-main2);
}

.dropdown {
	position: static;
	transform: translateY(0);
	opacity: 1;
	z-index: 1;
	transition: all 500ms cubic-bezier(0.245, 0.270, 0.600, 1.430);
	/*https://tools.webdevpuneet.com/css-easing-generator*/
}

.h3-img {
	display: flex;
	align-items: center;
}

footer section img {
	max-width: 17px;
	max-height: 17px;
	position: absolute;
	right: 1.5em;
	z-index: 1;
}

footer section ul li {
	margin-top: 1em;
}

footer ul li a {
	background-color: transparent;
	text-decoration: none;
}

footer ul li a:hover {
	color: var(--color-selection);
	background-color: transparent;
}

footer ul li a:focus {
	border: 3px solid var(--color-accent);
	background-color: transparent;
	border-radius: 0;
	outline: none;
}

footer section h3 {
	font-size: 1rem;
	font-family: "Gilroy light", sans-serif;
	color: rgb(72, 72, 72);
	flex-grow: 1;
	padding: .75em;
	position: relative;
}

footer section div h3 {
	border-top: 0.01em solid gray;
	border-bottom: 0.01em solid gray;
}

@media (min-width: 650px) {

	footer section {
		display: flex;
		flex-wrap: nowrap;
		margin-top: 2em;
		margin-bottom: 1em;
		gap: 4em;
	}

	footer section ul {
		margin-bottom: 1em;
		z-index: 1;
		position: static;
		transform: translateY(0);
		opacity: 1;
		max-width: 350px;
	}

	.section-inception {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 0em;
	}

	footer section div h3 {
		border: none;
	}

	footer section img {
		display: none;
	}
}

footer p {
	text-transform: uppercase;
	font-size: .8rem;
	text-align: center;
	margin-top: 2em;
}



/**************/
/*   Overig   */
/**************/

/* bron zigzag hoekjes: https://stackoverflow.com/questions/38352493/how-to-make-css-zig-zag-borders */

.zigzag {
	position: relative;
	padding: 8px 8px 32px 8px;
}

.zigzag:after {
	background: linear-gradient(-30deg, #ffffff 16px, transparent 0), linear-gradient(30deg, #ffffff 16px, transparent 0);
	background-repeat: repeat-x;
	background-size: 32px 32px;
	content: " ";
	display: block;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 32px;
}

.zigzag-blauw {
	position: relative;
	padding: 8px 8px 32px 8px;
}

.zigzag-blauw:after {
	background: linear-gradient(-30deg, var(--color-main) 16px, transparent 0), linear-gradient(30deg, var(--color-main) 16px, transparent 0);
	background-repeat: repeat-x;
	background-size: 32px 32px;
	content: " ";
	display: block;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 32px;
}



/**********************/
/*   2e pagina: shop  */
/**********************/


/****************/
/*   Main shop  */
/****************/

#header-img {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url("../images/header-dopper2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0;
	min-height: 400px;
	left: 0;
	right: 0;
}

.shop main nav {
	margin-top: 23em;
	position: sticky;
	top: 3em;
	background-color: var(--color-main2);
	z-index: 9;
}

.shop main nav ul {
	display: flex;
	justify-content: center;
	gap: 2em;
	padding: 1em;
}

.shop main nav ul li a {
	color: rgb(72, 72, 72);
	font-size: 1rem;
}

.shop main nav a:hover {
	color: var(--color-main);
}

.shop main nav a:focus {
	border: 5px solid var(--color-accent);
	outline: none;
	color: var(--color-main);
}

.shop main nav a:active {
	border: none;
}

@media (min-width: 570px) {

	.shop main nav ul {
		gap: 5em;
	}

	.shop main nav ul li a {
		font-size: 1.3rem;
	}
}

/***************/
/*  Producten  */
/***************/

.shop main section:first-of-type {
	margin-top: 1em;
}

.shop main section {
	margin-bottom: 3em;
}

.shop main section h2 {
	text-align: center;
	margin-left: 0;
}

.shop main section p {
	text-align: center;
	margin-top: .5em;
	margin-bottom: 1em;
}


.shop main section ul {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
	gap: 1em;
	padding: 1em;
}

.shop main section ul li {
	margin-bottom: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	gap: 1em;
	position: relative;
}

.shop main section:first-of-type ul li:nth-of-type(odd) img {
	width: 90px;
	height: 190px;
}

.shop main section:first-of-type ul li:nth-of-type(even) img {
	width: 80px;
	height: 175px;
}

.shop main section ul li img {
	width: 150px;
	transition: 1s;
}

.shop li:hover img {
	transform: scale(1.2) rotate(-10deg);
	transition: .3s;

}

.shop main section ul li a {
	display: block;
	text-align: center;
	min-width: 180px;
	font-size: .85rem;
	color: var(--color-main)
}

.shop main section ul li a:focus {
	outline: none;
}

.shop main section ul li ul li {
	margin: -.5em;
}

.shop main section ul li ul li:last-of-type {
	font-family: Gilroy, sans-serif;
}

.shop main section ul li a::before {
	position: absolute;
	content: "";
	top: 0;
	bottom: 50px;
	left: 0;
	right: 0;
}

.shop main section ul li:hover a:before,
.shop main section ul li a:focus:before {
	background-color: var(--color-selection);
	border-radius: 100%;
	z-index: -1;
	opacity: 80%;
	height: 250px;
}

.shop main section ul li a:active {
	color: black;
}

.shop main button {
	background-color: var(--color-main);
	color: white;
	font-family: var(--kop-text);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em;
	border: none;
	border-radius: 30px;
	font-size: .8rem;
}

.shop main button:hover {
	background-color: var(--color-selection);
}

.shop main button:focus {
	border: 5px solid var(--color-accent);
	background-color: var(--color-selection);
	outline: none;
}

#onzeflessen li button img,
#accessoires li button img,
#losseonderdelen li button img {
	width: 25px;
	height: 25px;
	margin-right: 1em;
}

@media (min-width: 650px) {

	.shop main section {
		margin-bottom: 5em;
	}

	.shop main section h2 {
		font-size: 2.5rem;
	}

	.shop main section p {
		font-size: 1.3rem;
	}

	.shop main section ul li a {
		margin-top: 1em;
	}

	.shop main section ul li img {
		transform: scale(1.2);
	}

	.shop main button {
		padding: 1.2em;
	}
}

@media (min-width: 1000px) {

	.shop main section ul li a {
		font-size: 1rem;
	}
}